# Переменные для Postgres
POSTGRES_USER=appuser
POSTGRES_PASSWORD=Your_Strong_Password_123
POSTGRES_DB=appdb
POSTGRES_PORT=5432

# Переменные для Backend
JWT_SECRET_KEY=Your_Strong_Secret_Key_123
BACKEND_PORT=8000

# Переменные для Frontend
FRONTEND_PORT=3000